@{
    ViewBag.Title = "Lesson project";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model UKADPerformanceTask.Models.PerformanceModel
}

<h2>Index</h2>
<body>    
    @using (Html.BeginForm("Performance", "Home", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.Url)
        @Html.ValidationMessageFor(model => model.Url)
        <button type="submit">TestPerformance</button>
    }
    <table>
        @foreach (var item in model)
        {
        <tr>
            <td>
                <text>
                    @item.ResponseTime
                </text>
            </td>
        </tr>
        @*@Html.DisplayFor(model => model.ResponseTime)*@
        }
    </table>
    
</body>

