################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UKADPerformanceTask/packages
/UKADPerformanceTask/UKADPerformanceTask/obj/Debug
/UKADPerformanceTask/UKADPerformanceTask/bin
