################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UKADPerformanceTask/packages
/UKADPerformanceTask/UKADPerformanceTask/obj/Debug
/UKADPerformanceTask/UKADPerformanceTask/bin
/UKADPerformanceTask/.vs/UKADPerformanceTask/v15/Server/sqlite3/storage.ide-wal
/UKADPerformanceTask/.vs/UKADPerformanceTask/v15/Server/sqlite3/storage.ide-shm
/UKADPerformanceTask/.vs/UKADPerformanceTask/v15/Server/sqlite3/storage.ide
/UKADPerformanceTask/.vs/UKADPerformanceTask/v15/Server/sqlite3/db.lock
/UKADPerformanceTask/.vs/UKADPerformanceTask/v15/sqlite3/db.lock
/UKADPerformanceTask/.vs/UKADPerformanceTask/v15/sqlite3/storage.ide-shm
/UKADPerformanceTask/.vs/UKADPerformanceTask/v15/sqlite3/storage.ide-wal
/UKADPerformanceTask/Services/bin
/UKADPerformanceTask/Services/obj/Debug
